<h1>Liste clients</h1>

<button mat-raised-button (click)="routeGlobal(creationclient)"><i class="material-icons">person_add</i> Ajouter un client</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let client" (click)="route(client.miId)"> {{client.msNom}} </td>
    </ng-container>
  
    <ng-container matColumnDef="code postal">
      <th mat-header-cell *matHeaderCellDef> Code postal </th>
      <td mat-cell *matCellDef="let client" (click)="route(client.miId)"> {{client.msCodePostal}} </td>
    </ng-container>
  
    <ng-container matColumnDef="ville">
      <th mat-header-cell *matHeaderCellDef> Ville </th>
      <td mat-cell *matCellDef="let client" (click)="route(client.miId)"> {{client.msVille}} </td>
    </ng-container>

    <ng-container matColumnDef="supprimer">
        <th mat-header-cell *matHeaderCellDef> Supprimer </th>
        <td mat-cell *matCellDef="let client" (click)="delete(client.miId)"><i class="material-icons">delete</i></td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let client; columns: displayedColumns;"></tr>
</table>
