<div *ngIf="erreur; else detail" class="erreur">
	{{ erreur }}
</div>

<ng-template #detail>
	<h1>{{ client?.msNom }}</h1>

	<div>
		<h2>Adresses :</h2>
		<ul>
			<li>{{ client?.msAdresse1 }}</li>
			<li>{{ client?.msAdresse2 }}</li>
			<li>{{ client?.msCodePostal }}</li>
			<li>{{ client?.msVille }}</li>
		</ul>
	</div>

	<div>
		<h2> Contacts :</h2>
		<table mat-table [dataSource]="client?.mvContact" class="mat-elevation-z8">
			<ng-container matColumnDef="nom">
				<th mat-header-cell *matHeaderCellDef> Nom </th>
				<td mat-cell *matCellDef="let client"> {{client?.msNom}} </td>
			</ng-container>

			<ng-container matColumnDef="prenom">
				<th mat-header-cell *matHeaderCellDef> Prenom </th>
				<td mat-cell *matCellDef="let client"> {{client?.msPrenom}} </td>
			</ng-container>

			<ng-container matColumnDef="telephone">
				<th mat-header-cell *matHeaderCellDef> Téléphone </th>
				<td mat-cell *matCellDef="let client"> {{client?.msTelephone}} </td>
			</ng-container>

			<ng-container matColumnDef="email">
				<th mat-header-cell *matHeaderCellDef> Email </th>
				<td mat-cell *matCellDef="let client"> {{client?.msEmail}} </td>
			</ng-container>

			<ng-container matColumnDef="fonction">
				<th mat-header-cell *matHeaderCellDef> Fonction </th>
				<td mat-cell *matCellDef="let client"> {{client?.msFonction}} </td>
			</ng-container>

			<ng-container matColumnDef="action">
				<th mat-header-cell *matHeaderCellDef> Supprimer </th>
				<td mat-cell *matCellDef="let client"><i class="material-icons">delete</i></td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let client; columns: displayedColumns;"></tr>
		</table>
	</div>
</ng-template>