<h1>Ajout d'un client</h1>

<form class="creation-client" [formGroup]="creationClient" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-input">
        <input matInput placeholder="Nom" formControlName="nom">
    </mat-form-field>
    <mat-form-field class="form-input">
        <input matInput placeholder="Adresse" formControlName="adresse1">
    </mat-form-field>
    <mat-form-field class="form-input">
        <input matInput placeholder="Adresse (suite)" formControlName="adresse2">
    </mat-form-field>
    <table class="cp-ville"><tr>
        <td><mat-form-field>
            <input matInput #postalCode maxlength="5" placeholder="Code postal" formControlName="cp">
        </mat-form-field></td>
        <td><mat-form-field>
            <select matNativeControl formControlName="ville">
                <option value="Défaut">Ville</option>
            </select>
        </mat-form-field></td>
    </tr></table>
    <button matNativeControl mat-raised-button>Ajouter ce client</button>
</form>